---
tags:
  - Action
  - Adventure
  - Atmospheric
  - Dark
  - Dark Fantasy
  - Emotional
  - Female Protagonist
  - Great Soundtrack
  - Historical
  - Horror
  - Medieval
  - Post-apocalyptic
  - Puzzle
  - Singleplayer
  - Stealth
  - Story Rich
  - Survival
  - Third Person
  - Violent
  - Walking Simulator
title: "A Plague Tale: Innocence Review"
gameName: "A Plague Tale: Innocence"
description: "An unreservedly beautiful, gripping story about a sister and brother facing rats, disease, the supernatural and the inquisition in 14th century France"
date: Last Modified
creationDate: 2021-07-26T11:02:55-04:00
lastPlayed: 2020-12-01T12:00:00-04:00
wasUpdated: true
heroImage: "a-plague-tale-innocence/A plague, children, powers and rats.jpg"
heroAltText: "If the gorgeous visuals are not enough for you, this game also has plenty of fun, story and characters as well as awesome music"
bannerImage: "a-plague-tale-innocence/banner.jpg"
bannerAltText: "Help Amicia reunite with her brother while fighting the inquisition, English soldiers and a harsh world"
version: "PC played on TV"
platform: Steam
controls: "Xbox 360 Controller"
developer: "Asobo Studio"
publisher: "Focus Home Interactive"
achievements: true
controllerSupport: true
releaseYear: 2019
verdict: "Buy on sale"
---

<h2 class="mt-0">A delightful day turns into the darkest night</h2>
<p>A story of family ties, unexpected supernatural abilities and the power of the sling, A Plague Tale: Innocence surprised me with its excellent all-around production value. The graphics  are lovely, the characters are endearing, at least the playable ones, and the game is fun to play - and to beat!</p>
{% image "a-plague-tale-innocence/Beautiful graphics 2.jpg", "The visuals are stunning throughout the game, with every environment perfectly setting the stage for the game", "mt-10" %}
<h2>Beautiful graphics</h2>
<p>The game’s visuals are absolutely stunning! I found the depiction of different environments of the medieval countryside and city extremely realistic (if not historically accurate!) thanks to the game’s engine. The pre-rendered lighting did feel a bit static in some outdoor environments, mostly the forest and village. However, every time the light plays a predominant role in the game, which is a lot, the lighting is very well crafted.</p>
<p>Characters are lifelike in their appearance, and their movements. From what I understand the motion capture was limited to the body movements, not the dialogues, since the voice actors were not the same as the body actors. I found some mouth animation could have used some more work.</p>
<p>To me the main character could be said to be the rats that permeate almost every scene of the game once the first chapter is done. You can tell a lot of thought and energy was put into animating the rats: they’re squirming and swirling over and around one another, liquid-like, grotesque and definitely disgusting (and I like real-life rats!).</p>
{% image "a-plague-tale-innocence/So many rats!.jpg", "Are the rats the main character? They're certainly ubiquitous even if devoid of a real personality", "mt-10" %}
<h2>Nobody expects… the plague!</h2>
<p>The story revolves around Amicia, a 15-year old noble girl from the Aquitaine countryside, and her brother Hugo, 5 years of age. They are chased by the inquisition (obviously evil) during a highly deadly plague, carried by rats, and must also contend with English soldiers (also portrayed as evil) fighting the 100 years war on French soil.</p>
<p>The game starts very realistic and gradually fumbles into the esoteric and the supernatural as the rat swarms gain more power and different abilities are unlocked. Amicia and Hugo meet new friends, with whom they rescue and help one another throughout the course of the game. The last act sees the unexpected return of a family member and the final confrontation with the very evil inquisition.</p>
<p>A Plague Tale: Innocence is very dark. After all, it features rats eating anything and everything and soldiers killing everyone they cross. The story it tells is quite bleak, with most chapters being played either in the dark or inside poorly-lit buildings. The effect is quite stark: although I wouldn’t classify the game strictly as a horror game, the feeling of tension and apprehension is present almost all the time.</p>
{% image "a-plague-tale-innocence/Play smart and you'll survive.jpg", "Amicia quickly becomes really good at sneaking past sleeping or talking soldiers", "mt-10" %}
<h2>Die and load then think and win</h2>
<p>The game is pretty unforgiving. After all, the rats are always hungry. Although they follow very logical rules, they’re quick to sink their teeth and claws into the character’s flesh should the player stray from the correct path. That being said, the game is not really hard once you figure out which ability to use in which situation. If you try to rely only on the same ability all the time, you will quickly find yourself out of essential resources.</p>
<p>The game includes a lot of sneaking around, trying to pass undetected. When that fails, or when it is impossible to progress otherwise, Amicia must use her sling or Hugo his abilities in order to eliminate enemies. Sometimes both must be used in conjunction. I played the game with a controller and found it frustrating when the targeting reticle would not track quickly enough.</p>
<p>The fights with the inquisition or English soldiers get tougher as the game progresses. Fortunately there are different types of projectiles that can be used, and the sling can be upgraded with different abilities as well.</p>
<p>All in all I did not find the game hard but it was a good challenge to figure out how to survive every situation.</p>
<h2>Fun while it lasts</h2>
<p>Steam tells me I have played the game for about 23 hours but I know that I left the game running while I was doing something else so the real number must be closer to 15-18 hours. I’m a slow player and I like to look at various things while I play but I did manage to complete all the achievements during that time, going back to various chapters to find some missing collectibles.</p>
<p>Once I was done I immediately uninstalled the game as I could not see what more fun I could have squeezed out of it. This is a good game but definitely not one I could play over and over again.</p>
{% image "a-plague-tale-innocence/These two don't mess around, and they'll be back.jpg", "Amicia and Hugo, as presented in the trailer for the sequel, A Plague Tale: Requiem", "mt-10" %}
<h2>Don’t mess with those kids</h2>
<p>All the characters at the start of the game are very likable, with Amicia and Hugo being the most well defined. The rats are despicable - especially when they don’t obey the laws of physics - but the inquisition is the real evil. Embodied by lord Nicholas, an indestructible black knight and the bad guy supreme, the inquisition is portrayed as justifying all means to their end. From kidnapping children to killing innocents, the priests and soldiers all act ruthlessly. This is probably so that the player will not feel too bad about killing scores of them or feeding them to the rats, a most uncomfortable end.</p>
{% image "a-plague-tale-innocence/The two protagonists, Amicia and Hugo.jpg", "I became quickly attached to Amicia and Hugo, even though he clearly did not understand the depths of what was happening", "mt-10" %}
<h2>Please don’t die</h2>
<p>Again, with them being the main characters, I bonded quickly with Amicia and Hugo. I felt some kinship with their friends but not with the bad guys. I love villains with motivations that I can relate to. In this case, although the inquisition supposedly seeks to end the plague, the lengths that they’re willing to go to just makes them fanatical zealots in my book and I could not feel any kind of empathy towards them.</p>
<p>There were some more emotional moments when I defeated a particularly pesky enemy or when some characters die. However I spent most of the game simply enjoying the game without being actively involved in the fate of the protagonists. Maybe it’s because they died quite a lot? Or maybe it’s because the darn rats started creating vortexes all around and that left me no room to feel for the characters.</p>
<h2>Stone to the head sounds nice</h2>
<p>The voice acting adds depth to the game, especially because some minor story details are revealed in conversations between characters when the player sneaks by them. One funny detail: I could recognize the voice actors playing different characters, especially in French. Speaking of which, I was surprised and a bit disappointed to learn that the voice acting was done in English as the original language and other languages were added later. Coming from a French developer and publisher I would have expected French to be the most well-made voiceover.</p>
<p>Other sound effects are well made and you quickly forget about them, even though they are important to navigate the world. This will sound really trash but the sound of a stone leaving the sling and crashing into an unprotected head as well as the death cries of child-killing soldiers being devoured by rats were shamingly satisfying to me while playing.</p>
{% image "a-plague-tale-innocence/Excellent, emotional soundtrack.jpg", "The original soundtrack, composed by Olivier Derivière, is hauntingly beautiful", "mt-10" %}
<h2>Beautiful emotional music</h2>
<p>This is another area where the game really shines. The evocative music can quickly become tense and stressful when the rats get close. Those shrill violin sounds certainly help to capture one’s focus when playing. The music is mostly mysterious and enigmatic, sometimes languid but always well suited to the game. In fact, the soundtrack is composed of 36 different tracks, each played in a different level, animation or moment of the game. Some motifs are repeated throughout the whole game, which serves to highlight a character’s arrival (meaning: the rats) or action. The main theme comes back at different moments during a playthrough and I found myself humming it frequently during the weeks after completing the game. Even now just listening to the opening theme draws me back to images and feelings of the game.</p>
{% image "a-plague-tale-innocence/Sling for the win!.jpg", "Never has a David won against so many Goliaths as Amicia during the course of the game", "mt-10" %}
<h2>Aim, shoot, move</h2>
<p>Basic character controls are quite simple: move, aim, shoot. Movement includes sneaking or running, as well as jumping and climbing up and down ladders or walls. Before you shoot you must first aim and select a target. This was a bit slow using a controller and more than once when the stakes were high I released the sling too soon. Note that most of the time Alicia will have to shoot at objects rather than people: for example breaking a lamp to set fire to an area or breaking a chain in order to allow passage.</p>
<p>The only time I wished I was playing with a mouse and keyboard rather than a controller was when I had to quickly select a projectile type. There are 8 types in total and when pressed for time it can be hard to remember where in the wheel of selection is located the type you’re looking for.</p>
{% image "a-plague-tale-innocence/No sharknado here, rather a ratsnado!.jpg", "The game shattered my suspension of disbelief when the rats start completely ignoring the laws of physics", "mt-10" %}
<h2>A dark time but a fun game</h2>
<p>A Plague Tale: Innocence is a lot of fun to play! I usually don’t like games that force me to sneak because a given enemy is too strong. To me it feels like poor level design. This game, though, gives the player enough leeway that I could usually choose to either confront the inquisition soldiers or sneak around them depending on how I felt in the moment or my various resources’ levels. This freedom is not always offered but it feels great when it is.</p>
<p>Unlocking puzzles - like the ones built in the university level - was a bit tedious but still satisfying. Not as satisfying as taking down a guard or bandit that you just heard talking about killing innocent people, though. Or escaping thousands upon thousands of sleek little flesh eaters. There is a somewhat obvious solution to every problem you face: using light to scare away the rats, using a pot to distract a guard, hiding in tall flowers, etc. This is one more proof of the care and attention given to level design for the game: I never had to backtrack or search for minutes for the way forward. That doesn’t mean that I did not make mistakes and die for nothing, it just meant that the experimenting I had to do in order to progress in a chapter was rather minimal. This leaves the player to focus on moving the game forward and… well, enjoying themselves.</p>
<h2>A pleasing mix and match</h2>
<p>I don’t think I have ever played a game exactly like A Plague Tale: Innocence. There is a bit of Tomb Raider in there, a bit of Assassin’s Creed, a bit of Resident Evil, even. Some people compare it to Little Nightmares and it’s true that there is a lot of sneaking around. But at least here the player has a chance to fight back. Still, I could not find a game that shared many aspects of its gameplay or story.</p>
<p>There is nothing exceptionally novel about the game (perhaps the setting?) but everything is so well put together that it felt like the first time I played this kind of game.</p>
<h2>Verdict</h2>
<p>Play this game! If you like beautiful but scary stealth-based games, story-rich games, female protagonists or games with rich well-made voice acting, A Plague Tale: Innocence is for you.</p>
<h3>What I liked most about the game</h3>
<p>The way the game is so beautiful even though everything about the events that are happening is horrible. A plague, a war, the inquisition. It’s no wonder the sun almost never shines while playing. And yet the game is still so beautifully wrapped together.</p>
<h3>What I liked the least about the game</h3>
<p>The way AI-controlled characters behave. I had to restart more than once after leaving an ally and they decided when the guard passed by was the best time to try and sneak.</p>
<h3>Should I buy this game?</h3>
<p>Yes! Although at the time of writing it’s offered on Xbox Game Pass. If you plan on buying, I would wait until it’s on sale though (which happens often enough) because it’s a bit expensive. And since the game has sold at least one million copies the developers and publishers probably have recouped their expenses.</p>