---
tags:
  - Achievements
  - Action
  - Action RPG
  - Adventure
  - Atmospheric
  - Colorful
  - Controller
  - Dynamic Narration
  - Fantasy
  - Great Soundtrack
  - Hack and Slash
  - Indie
  - Isometric
  - Narration
  - Post-apocalyptic
  - RPG
  - Singleplayer
  - Story Rich
  - Twin Stick Shooter
title: "Bastion Review"
gameName: "Bastion"
description: "A beautiful action RPG with hand-painted graphics, solid music, a lot of lore and top-notch narration."
date: Last Modified
creationDate: 2021-07-29T15:43:18-04:00 # This would be 2:40 PM (1440) UTC on Oct. 17, 2018
lastPlayed: 2021-08-01T12:00:00-04:00
wasUpdated: true
heroImage: "bastion/CaelondiaText.jpg"
heroAltText: "The world of Caelondia is suprisingly endearing"
version: "PC played on TV"
platform: Steam
controls: "Xbox 360 Controller"
---

<h2 class="mt-0">A Sleeper Gem</h2>
<p>Before Bastion I liked playing video games. Thanks to this game, I can now say I LOVE playing video games. I can’t put my finger on what it is exactly that I like so much about it. Maybe it was simply the game I needed at that point in my life? It felt just like you find a book, movie or music album that just resonates.</p>
<p>The music is perfect, the narration adds a lot to the immersion, the gameplay is sharp and the story is captivating. All of these put together make for one of my favourite games of all time.</p>
<p>It’s too bad Bastion did not get the attention it deserved at publishing. Most critics agreed the game was excellent but because of the team’s limited marketing budget (and experience?) it was outshined by contemporary AAA titles.</p>
<h2>A Calamity for the ages</h2>
<p>Bastion is an isometric action platformer where you play the part of the Kid waking up after the Calamity. Wandering around and exploring parts of his beautiful post-apocalyptic world, the Kid seeks survivors as well as answers. What caused everyone to turn to stone? What lies beyond the Wall? Venture forth while slaying all manner of beasts to find out.</p>
<p>I found the story, about hope, the future and how to (re)build it, quite appealing. The world’s lore and history are revealed little by little, with every level and stage, through the narrator’s gritty voice. There’s also “dream-like” levels (called “Who Knows Where”) where the personal story of each of the characters is revealed in greater details - if you can beat enough stages.</p>
<p>The story is well defined enough that even the various weapons, mementos and spirits have a unique story or description. It has been a while since I played the game for the first time but I remember I was really gripped by the story and wanted to finish the game as quickly as possible to finally have all the answers. Fortunately, every level, every step forward, reveals more of Bastion so you can enjoy the game and learn the story and lore at the same time.</p>
{% image "bastion/Colourful.jpg", "The colourful graphics are quite the eye candy", "mt-10" %}
<h2>Hand-painted immersion</h2>
<p>The graphics are very pretty and build a colourful, imaginative world that is easy to love. They suit the game well and make for an immersive experience, full of life and colour. The backgrounds painted in parallax are beautiful and full of interesting details that make the game’s world more realistic.</p>
<p>The character art style, or rather their proportions, might not be for everyone but I thought it fit the rest of the visual depiction of the game.</p>
<p>Oh, and did I mention every asset in the game is hand painted?</p>
<h2>Everyone can finish this</h2>
<p>This is not the hardest game I have played, not by a long shot, even though a player can activate Shrines and boost the game’s difficulty until it becomes much harder than the vanilla version. If you have a controller and some patience you can certainly beat the game without ever feeling frustrated. Everything is well explained through narration and helpful prompts. If you consider yourself a “hardcore gamer” and you want to unlock every upgrade and finish the game with all Shrines activated though, you will find plenty to satisfy your appetite for challenge.</p>
<h2>Just play the last chapter to get both endings</h2>
<p>Apart from unlocking upgrades for a new playthrough as well as achievements, I didn’t find much replayability in Bastion. I still complete a run from time to time, but that’s only because I love it so much.</p>
<p>If you are a completionist, you might find some of the achievements time-consuming. Finishing a simple run of the game should take about 10 hours, a length I found ideal. It means there is always something new being discovered and the world keeps unfolding itself, figuratively and literally, as the Kid moves forward.</p>
{% image "bastion/All together.jpg", "A meeting of the four important characters", "mt-10" %}
<h2>Four characters, three voices</h2>
<p>I found the main character, the Kid, quite endearing, even though we never hear him speak and I found his voice (when using weapons) not very kid-like. Other characters consist of enemies, including the mysterious Ura, as well as Rucks, Zia and Zulf. Not a really big roster! Only the Kid is playable, and only Rucks narrates, though Zia and Zulf will sing. There are also cute creatures that can populate the Bastion (the “starting” area).</p>
<p>Except for the narration, there is simply not much in terms of character interaction. The Kid can show different objects to Zia and Rucks but it’s always Rucks that does the talking.</p>
<h2>I got weirdly attached to the world</h2>
<p>I think the narration makes for a more compelling experience than it would otherwise be. That being said, I did not feel as attached to the protagonist as I did in story-heavy games such as Life is Strange or Beyond: Two Souls. Yet, I absolutely wanted to see the story to the end and find out what happened, why, and how to fix it. I cannot explain the emotional attachment I developed for the world and its inhabitants - creatures included. I think it’s simply because the game is so well-made.</p>
<p>There are two very important choices in the last chapter of the game but to me there was simply one real path - albeit the saddest one. The addition of player-based choice so late in the game feels a bit forced. I get the feeling the game designers had a story in mind and added an alternative ending to lessen its blow.</p>
<h2>A story told</h2>
<p>The music, sound and especially the narration, play a big role in this game. I felt a bit let down by the Kid’s voice and found the sound effects ordinary. They hit all the right notes but don’t pop out any more than that. The narration, though, helps with immersion and reveals the story while never breaking the flow of play. It also helps cement the emotional investment.</p>
<p>An added benefit of the narration is that there is no need to scroll through walls of text or press buttons to engage in lengthy conversations. The flow of the game and the pace of the story is mostly seamless.</p>
{% image "bastion/Soundtrack.jpg", "The bastion Soundtrack can be bought separately. Also available on streaming platforms.", "mt-10" %}
<h2>Good music makes a good game</h2>
<p>For a long time the soundtrack was in my playlist. Since there are a lot of levels (including the weapon challenge levels), not every level has its own music. But every piece definitely  sets the mood and helps make each area come to life. Every track has its own flavour, its spice that you can taste as you roll around every level. When you hear a certain music coming on, you can deduce that some enemies are just right around the corner.</p>
<p>Some parts of the game are played without music, which in my opinion just emphasizes the story the narrator is recounting.</p>
<p>I’m glad Supergiant Games kept music at the core of their game development. If you have the chance to play Hades - you should, it’s an excellent game! - you can really see how things evolved and how each game has its own music style.</p>
<h2>Simple controls, many possibilities</h2>
<p>Basic mechanics are very simple: move, block, attack, roll. The real fun begins when you have unlocked several weapons and Spirits. Spirits are drinks that add bonuses (and sometimes penalties) to the Kid, allowing for superior performance. Combined with an impressive array of weapons - when have you been able to play with a mortar in a video game before? - it makes for a vast array of combinations. Especially since the Kid carries two weapons.</p>
<p>The world unfurls by having its tiles fall out of the sky! You might have to wait until they’re all in place though because if you roll ahead you might end up falling off the map and having to restart.</p>
{% image "bastion/Blunderbuss for the win.jpg", "You can fight with many weapons, including a massive hammer, a blunderbuss and a mortar.", "mt-10" %}
<h2>New play styles all the time</h2>
<p>Bastion is classified as an action-RPG, which means that you need quick reflexes to navigate its perils but you also acquire new abilities that make the game more interesting. As mentioned above, there’s a plethora of weapons and spirits and every time I acquired a new weapon I found myself thinking the previous ones paled in comparison. However by mixing and matching them you discover easier ways to dispatch enemies and in the process create new play styles for yourself.</p>
<p>I played every time with a controller; the controls felt extremely responsive and made for an intuitive playing experience.</p>
<h2>An inspiration for many years</h2>
<p>Bastion came out in 2011, more than 10 years ago! It’s a testament to the quality of game-making skills of the original seven members of Supergiant Games that the game is still so good after all this time.</p>
<p>If you play Bastion now and you have played other games in the same genre before, you will not find much that is new. At the time though, it contained a lot of novelty. The narration as story development, in particular, was unheard of. The devs really hit the nail on the head with this one.</p>
<p>Today it’s still a fun game with a lot of production value, including a New Game + mode - allowing you to replay the game with all the upgrades you had unlocked in the previous playthrough - if you feel so inclined.</p>
{% image "bastion/The Calamity.jpg", "The Calamity, just before the game's start", "mt-10" %}
<h2>Verdict</h2>
<p>As you can probably guess by all the praise written so far, I give the game a glowing recommendation. However it’s not for everybody. You have to enjoy isometric games, you have to like action-RPGs and I think you should play it with a controller. If you like games where music is important, you should also like Bastion.</p>
<h3>What I liked most about the game</h3>
<p>The narrator! Also, the way every weapon and combination of spirits and weapon revealed its true potential after playing with them for a while.</p>
<h3>What I liked the least about the game</h3>
<p>How the end felt less fully developed than the start. At the start, the narrator will say random interesting things depending on how you play (“The Kid just rages for a while”). Towards the end everything is much more streamlined and I missed that special flavour.</p>
<p>Also, sometimes it’s hard to tell how to move through some of the sprites so you might get stuck during combat.</p>
<h3>Should I buy this game?</h3>
<p>If you like this type of game, absolutely. Maybe watch a video or two before buying but for $15 I think you get more than your money’s worth. Also, it’s frequently on sale so you might get it for cheaper if you wait a bit.</p>