---
tags:
  - Adventure
  - Atmospheric
  - Beautiful
  - Choices Matter
  - Cinematic
  - Co-op
  - Drama
  - Dynamic Narration
  - Emotional
  - Female Protagonist
  - Great Soundtrack
  - Horror
  - Narration
  - Quick-Time Events
  - Sci-fi
  - Singleplayer
  - Story Rich
  - Third Person
  - Thriller
title: "Beyond: Two Souls Review"
gameName: "Beyond: Two Souls"
description: "An emotional journey through the life of a singular girl and her particular friend that leads to a reflexion on life, death and the relationships we forge."
date: Last Modified
creationDate: 2021-01-02T11:04:55-04:00
lastPlayed: 2021-01-01T12:00:00-04:00
wasUpdated: true
heroImage: "beyond-two-souls/Life or Death.jpg"
heroAltText: "One of the game's title images"
bannerImage: "beyond-two-souls/banner.jpg"
bannerAltText: "Guide Jodie Holmes from her early years to her early adulthood"
version: "PC played on TV"
platform: Steam
controls: "Xbox 360 Controller"
developer: "Quantic Dream"
publisher: "Quantic Dream"
achievements: true
controllerSupport: true
releaseYear: 2013
verdict: "Buy"
---

<h2 class="mt-0">Meeting Jodie</h2>
<p>Although it’s an older game, I started playing Beyond: Two Souls without any real expectation. I bought it on sale thanks to some Internet friends who recommended it after learning that I had loved Heavy Rain. Both games were developed and published by Quantic Dream and use similar controls although I could not confirm if they use the same engine. It is, more than anything else, a storytelling game about Jodie Holmes, the main character.</p>
{% image "beyond-two-souls/Chased in the Forest.jpg", "Not every scene is as beautiful as this forest chase but most are still quite immersive", "mt-10" %}
<h2>Older tech still looks good</h2>
<p>Even though Beyond: Two Souls was originally released on Playstation 3, I found its graphics more than adequate for the PC. The game is played in chapters, with the player thrown into the story in a haphazard way if it’s played according to the developers’ original story progression. I cannot recall any chapter where the environment did not perfectly fit the story.</p>
<p>Sure, it’s not the most graphically amazing game, and sometimes the facial expressions are not as refined as some of today’s games (and some even look a bit janky!). But the emotions are still visible and the story remains poignant.</p>
{% image "beyond-two-souls/At the Academy.jpg", "Jodie growing up and trying to get a sense of what she wants, at the CIA Academy", "mt-10" %}
<h2>A weird coming of age</h2>
<p>And what a story it is! As a player we follow Jodie Holmes, from when she is a child up to her early adulthood. She is mysteriously linked to an invisible entity she calls Aiden. Thanks to Aiden, Jodie is able to manipulate the world around her, solve problems in a unique fashion as well as fight and survive.</p>
<p>Playing the story in the original, mixed order throws the player from childhood to adulthood, from Jodie’s awkward early teenage years to her twenties. I found that this was an extremely powerful tool for character development as well as story progression. I quickly became emotionally attached to Jodie, and took a lot of pleasure in seeing her grow up as a human being, develop values and relationships through some of the choices that were offered to me.</p>
<p>I love coming of age stories and this is certainly a good one. That does not mean that the game is perfect storywise. I found several story elements that were not consistent throughout the game or that were clearly added to further plot or character development. In the end I found that there was much more good than bad and I really enjoyed playing the game.</p>
{% image "beyond-two-souls/Homeless and Hungry.jpg", "Running away from people that forced her to be something she did not want to be, Jodie ends up homeless", "mt-10" %}
<h2>You cannot die, but you can lose</h2>
<p>Even though I enjoyed it, I did not feel particularly challenged while playing the game. Although I selected the “I play video games frequently” option at game start, I did not fail anything and did not die once. I learned that this is by design. The story will vary slightly depending on player choices and outcomes.</p>
<p>However, contrary to Heavy Rain, it is not possible for Jodie to die until the last chapter - other characters can die, but my playthrough did not result in many deaths. This does not mean that failure has no consequence. As noted, lack of success can bring about the death of a secondary or tertiary character and the story might be significantly altered, presumably for the worse.</p>
<p>Some players may feel turned off by a game that does not allow you to effect big changes on the world depending on your choice. I, for one, played Beyond: Two Souls more like reading a book which had somehow integrated some elements of surprise that I could choose rather than a full-on "choose your own adventure" novel.</p>
{% image "beyond-two-souls/Troubled relationships abound.jpg", "Jodie has a complicated relationship with Nathan, as well as her own mother - both the biological and surrogate ones", "mt-10" %}
<h2>The people of the game</h2>
<p>Besides Jodie Holmes, most characters are only slightly fleshed out. Aiden is a noticeable exception. Despite having no actual dialogue, Aiden certainly develops a personality of his own and grows alongside Jodie. Another outlier is Nathan Dawkins. He starts as a scientist and caregiver that might be trying to help Jodie but goes through a personal tragedy and becomes a warped, twisted version of his former self. I thought he was the only other well defined character in the game. I found other characters were mainly there to show Jodie’s growth (like Cole and the homeless people) or become potential love interests (e.g. Jay and Ryan).</p>
<p>The villains are absolutely ludicrous in how poorly-written they are but they occupy a very small portion of the game time. There is no alternate viewpoint. As a player, we are given (some) control over Jodie and Aiden’s destinies so they are the ones that are present most of the time.</p>
{% image "beyond-two-souls/Driven Nathan Dawkins.jpg", "Nathan, who is played expertly by Willem Dafoe, experiences too much loss and pain", "mt-10" %}
<h2>My emotions!</h2>
<p>Beyond: Two Souls is beautifully acted, through motion-capture and voice acting, with some well known actors such as Elliot Page (Jodie Holmes) and Willem Dafoe (Nathan Dawkins). The game excelled at drawing me in and making me care about Jodie. Being ping-ponged between different periods of her life somehow made me feel like Jodie was a friend or a family member. I certainly empathized with her, Nathan and Cole (another caregiver that becomes Jodie’s friend) throughout most of the game. Others, such as Ryan Clayton, are much harder to love. And the “evil” antagonist, General McGrath, is not well written enough to warrant comment.</p>
<p>I know this game was published in 2013 and I played it in 2020-2021 but it seemed forced to have Jodie meet potential love interests. I feel like the game would have been perfectly fine without any attempt to force a relationship. Fortunately the game gives the player some leeway in that regard.</p>
<h2>Voice acting AND top-tier music</h2>
<p>The voice acting is of an extremely high quality. The performance from the actors themselves is excellent but the technical aspects of the sound design were also very well crafted. The slow-motion focus sound as well as the punches and other impact sounds really kept me focused during battles and fights.</p>
<p>The music was composed by Lorne Balfe and produced by Hans Zimmer (yes, that Hans Zimmer). It is absolutely superb, alternating between styles: sometimes it’s mysterious and touching, other times rhythmic and full of energy or dramatic and sad. Although it is mostly instrumental, the soundtrack makes judicious use of chorus or chorus-like effects. It seems designed to help the player understand the characters more as well as enhance or highlight the emotions of a scene. And it works all the time!</p>
{% image "beyond-two-souls/Discovering her Powers.jpg", "Jodie discovering some of her powers, with cards that look like the buttons of a controller!", "mt-10" %}
<h2>Buttons to press</h2>
<p>Although I played Heavy Rain many years ago, I did not feel like Beyond: Two Souls added some brand new game mechanics, except for the times Aiden is used. That being said, the controls work really well. I played the game with a controller and did not have any major issues.</p>
<p>My only gripe is that sometimes I would aim for a character and press a button only for the focus of the action to switch at the very last second and go for another character. This happened only a few times during the game but it took me away from the game for a few minutes each time because of the frustration I felt.</p>
<p>Other than that, players that are new to Quantic Dream games should be warned that you must know your controller or keyboard very well because sometimes there is only a second or two to react properly to the action. Contrary to Heavy Rain the game will still move forward, e.g. there are no game-overs, only alternative storytelling.</p>
{% image "beyond-two-souls/Friendly Cole.jpg", "Cole is one of the few sympathetic characters that remained friendly to Jodie throughout the game", "mt-10" %}
<h2>A story told in different ways</h2>
<p>The gameplay is divided into different areas. There is a lot of conversation but the vast majority of it has no in-game effect, it’s there purely to enhance the story (which it does). There are also puzzle-esque tasks, for example Jodie cleaning up her apartment or “playing” in her room as a kid. These will affect the story or unlock achievements but usually have little impact on the grand scheme of things.</p>
<p>And then there are the action scenes: fights, escape sequences, battles. Failing at those will cut short the chapter and the player might miss a lot of the story before transitioning to the next chapter. I found that those different play styles blended mostly well together but made for a lot of highs and lows in terms of focus.</p>
<h2>Nothing new here, move along</h2>
<p>Aside from the intensity of the emotions I lived through, I don’t think this game brought anything particularly new to the gaming world. It felt pretty similar to Heavy Rain and other similar story-heavy games. However, that lack of novelty did not impact my appreciation of the game at all.</p>
<h2>Verdict</h2>
<p>This is an outstanding emotional story-telling game, much more akin to an interactive movie than anything else. I really bonded with the main character and walked away both filled and empty (in a good way!).</p>
<h3>What I liked most about the game</h3>
<p>The bond and love I felt for Jodie, Aiden, Nathan and some other characters. I did not know (or I had forgotten?) I could feel that way for video game characters.</p>
<p>You know how sometimes you feel sad when you finish a book or TV series just because you won’t get to live more with the characters? Well this is how I felt when I finished playing Beyond: Two Souls.</p>
<h3>What I liked the least about the game</h3>
<p>While the story was solid for most of the game, it does contain potential plot holes as well as weird character motivations and the ending felt dubious to me. The whole Navajo chapter felt disjointed, superfluous and a bit tacky.</p>
<h3>Should I buy this game?</h3>
<p>Yes! If you liked other games from Quantic Dream, if you like interactive movies or if you like storytelling games with deep emotional connection, you should buy and play this game. In my opinion, there’s no need to wait until the game is on sale.</p>