---
tags:
  - 2D
  - Adventure
  - Atmospheric
  - Cartoon
  - Colorful
  - Cute
  - Exploration
  - Family Friendly
  - Female Protagonist
  - Funny
  - Hand-drawn
  - Indie
  - Nature
  - Open World
  - Puzzle
  - Relaxing
  - Singleplayer
  - Story Rich
  - Stylized
  - Top-Down
title: "Carto Review"
gameName: "Carto"
description: "This short, wholesome story seems straight from a children's book. The clever game mechanics and adorable characters combine to provide a fun, relaxing experience."
date: Last Modified
creationDate: 2021-08-09T12:53:06-04:00
lastPlayed: 2021-08-01T12:00:00-04:00
wasUpdated: true
heroImage: "carto/Carto on the go.jpg"
heroAltText: "Surely Carto is one of the cutest protagonist in video game history"
bannerImage: "carto/banner.jpg"
bannerAltText: "Guide Carto through several environments to reunite her with her grandmother"
version: "PC played on TV"
platform: Steam
controls: "Xbox 360 Controller"
developer: "Sunhead Games"
publisher: "Humble Games"
achievements: true
controllerSupport: true
releaseYear: 2020
verdict: "Buy on sale"
---

<h2 class="mt-0">How can a game be so cute?</h2>
<p>Everything about Carto is adorable. From the hand-painted characters and scenery, to the cut-scenes, hell, even the way Carto communicates through smileys and gestures is cute. The basic concept of the game is ingenious and very well executed: help young Carto reunite with her grandmother by moving pieces of the map to gain access to new areas - and new map pieces!</p>
<p>I found Carto to be a short yet very loveable gaming experience.</p>
{% image "carto/Picture book graphics.jpg", "The colourful, joyous art style is also present in cutscenes", "mt-10" %}
<h2>Picture book art</h2>
<p>The graphics are very simple and you can see the sprites repeated on the map (for sand dunes, trees or hills). Nevertheless, I think the game looks stunning. The map you create when playing is absolutely seamless and moving through it is quick and fun. The size of a map tile is also conveniently the same width as my screen, although it might be different for people playing with a resolution under 1920 x 1080 pixels.</p>
<p>The art style is delightful. Everything looks like it is straight from a children’s book. In fact, I think if you capture the screen in pretty much any situation the resulting image would do well in a picture book. The characters’ design, the environment, even the sounds and music put the player inside a pretty story book. Heartfelt congratulations are in order to Sunhead Games’ artist and art director, Kuan Hung Chen.</p>
{% image "carto/Carto and her grandmother Maldpo.jpg", "By seeking to reunite Carto with her grandmother, the player effectively helps people from around the world", "mt-10" %}
<h2>Reunite a family, change the world</h2>
<p>The story is simple: help Carto get back to her grandmother after a storm separates them. The quirky dialogues reveal a world where the people of each land have adapted to its specificities, which in turn makes for fun puzzles to solve. The Story Chalet, a place where Carto can learn about the different tribes as well as some of her own history, serves to flesh out the world’s lore.</p>
<h2>Same concept, new tricks</h2>
<p>The puzzles start easy and grow in difficulty with each passing level. Some use sounds, others visual clues and others combine both. That being said, the game is never actually difficult. This is a game designed to be playable by children after all. If you’re ever stuck, you just have to try things you have not tried yet. And most important of all, go talk to the other characters; one of them will inevitably tell you what you need to do.</p>
<h2>Short but enjoyable</h2>
<p>This is a short game, maybe designed to cater to children’s attention span? I completed the game in about 5-6 hours and then finished the achievements I was missing. Once the game is over, I don’t see what playing it again would bring. Certainly, helping your child play the game and look at them as they discover Carto’s world would be really worthwhile.</p>
{% image "carto/All the Messengers around Mother.jpg", "Loveable characters around a world-spanning tree", "mt-10" %}
<h2>An all-around delightful cast</h2>
<p>To keep with the game’s theme, all characters are, of course, cute. They are also 100% oblivious to the fact that they are in a world where map tiles keep moving around, whisking them from an ocean front to a forest or a mountain in the blink of an eye. What I mean by this is that there is no deeper level in the dialogues and behaviours of characters.</p>
<p>This is not bad in itself, it just means that the interactions with everyone remain a bit superficial, except for three characters. These are Shianan, Carto’s best friend and the first girl she meets, Maldpo, Carto’s grandmother, and the Storytender, the keeper of the Story Chalet. These three have a bit more dialogue and we get to know them a bit better throughout the course of the game.</p>
{% image "carto/Carto with a looking glass.jpg", "Carto is likeable but without higher stakes I did not feel a deep bond with her", "mt-10" %}
<h2>No danger, no attachment?</h2>
<p>This game features what I would describe as an adorable little protagonist. Even so, I did not feel any deep connection or bond to her. I think it’s because the stakes are never heightened. Yes, I wanted to get Carto through her series of adventures and back to her grandmother. But I never felt like she was in any danger. So in the end I liked the characters (and the animals!) and I found them endearing but nothing more. Children may identify with Carto herself or her friend Shianan a lot more.</p>
<h2>Subtle sounds ideal for this game</h2>
<p>Sound effects are in line with the game’s atmosphere and fit the general tone. There is no voice acting but I did not feel it would have added anything to the game. The characters’ personality is well conveyed by the short text dialogues.</p>
<p>Some of the puzzles are solved using sound as a clue. I learned to quickly recognize the clear “Ting” sound accompanying a new map tile being unlocked. Most puzzles can be completed by sight alone but the sounds of the land make Carto’s world much more vibrant. Even the conversations are more lively because of the sound made by the text appearing as speech.</p>
{% image "carto/Dance party!.jpg", "The music may not be grandiose, symphonic or out of this world but it really fits the game", "mt-10" %}
<h2>Music that’s simple, yet relaxing</h2>
<p>The music is light, bubbly, airy. Most of the time in video games, as in movies, music is used either to convey a message, help with scene transition or guide the player (or viewer) to a particular emotion. I found there was little of that in Carto. The music is simply part of the world, so natural that you notice it more when it is gone than when it is audible. You can also hear the fact that it’s a children’s story through its notes. I think it’s quite the feat achieved by Eddie Yu, the composer.</p>
{% image "carto/Map tiles.jpg", "Moving map tiles in order to change the world is a simply idea and very well executed in Carto", "mt-10" %}
<h2>The game’s main engine</h2>
<p>Game mechanics form another area where the game really shines. The main character can only move and interact with objects and characters. Her incredible power, though, is to manipulate the game’s map by moving, switching or rotating map tiles. Most tiles are 1 x 1 squares but later on they become more complex.</p>
<p>Interactions with some game elements serve to help complete puzzles. Reading a book, for example, or activating a volcano (!!). Other interactions also include speaking with characters but more often than not this is not necessary to resolve puzzles.</p>
<h2>So many possibilities with one new idea</h2>
<p>The genius here is that the map mechanic creates all kinds of possibilities for puzzles. You can move tiles until they are in the correct position, create an empty space where another tile is automatically created, create shapes using some of the tiles, etc. There is a lot of moving around but because you can move the tile where you’re currently located it’s possible to warp Carto very close to where she needs to go without having to walk the whole way there.</p>
{% image "carto/Clues to help set the map properly.jpg", "The game gives hints and clues all the time in order to help players find the correct way to assemble map tiles", "mt-10" %}
<h2>A novel way to play</h2>
<p>Carto uses an incredibly novel idea and implements it really well. I also like how well the different aspects (environment, character design, sounds, music, mechanics, etc.) of the game come together to form a cohesive whole. It should also be noted that the game is devoid of combat or, indeed, any form of gratuitous violence. In my opinion, violence-free games are too few and far between.</p>
<h2>Verdict</h2>
<p>If you want to spend a few relaxing hours solving puzzles, bathing in the world of a cute picture book, meeting quirky lovable characters all while using some innovative game mechanics, Carto is for you.</p>
<h3>What I liked most about the game</h3>
<p>The relaxing and soothing gameplay. There is no real urgency in the game and everything is so beautiful that playing it always brought a smile to my face. Also, it’s lovely!</p>
<h3>What I liked the least about the game</h3>
<p>The burden of moving map tiles around and trying to find the matching one to solve a particular puzzle. While arranging tiles you have to ensure that each tile’s border is next to another tile of the same type. This can mean a slow, painful process when moving several tiles around, as it’s impossible to just remove tiles from the map.</p>
<h3>Should I buy this game?</h3>
<p>Yes, when it’s on sale. I think the price tag is a bit overpriced for the number of hours of play. Note that this game seems like an excellent fit for a young child. At the time of writing, you can also play Carto on Xbox Game Pass.</p>
