---
tags:
  - 2D
  - Adventure
  - Atmospheric
  - Cartoon
  - Colorful
  - Cute
  - Exploration
  - Family Friendly
  - Female Protagonist
  - Funny
  - Hand-drawn
  - Indie
  - Nature
  - Open World
  - Puzzle
  - Relaxing
  - Singleplayer
  - Story Rich
  - Stylized
  - Top-Down
title: "Carto Review"
gameName: "Carto"
description: "This short, beautiful story seems straight from a children's book. The clever game mechanics and adorable characters relaxing experience."
date: Last Modified
creationDate: 2021-08-09T12:53:06-04:00
lastPlayed: 2021-08-01T12:00:00-04:00
wasUpdated: true
heroImage: "carto/Carto on the go.jpg"
heroAltText: "Surely Carto is one of the cutest protagonist in video game history"
bannerImage: "carto/banner.jpg"
bannerAltText: "Guide Carto through several environments to reunite her with her grandmother"
version: "PC played on TV"
platform: Steam
controls: "Xbox 360 Controller"
developer: "Sunhead Games"
publisher: "Humble Games"
achievements: true
controllerSupport: true
releaseYear: 2020
verdict: "Buy on sale"
---

<h2 class="mt-0">How can a game be so cute?</h2>
<p>Everything about Carto is adorable. From the hand-painted characters and scenery, to the cut-scenes, hell, even the way Carto communicates through smileys and gestures is cute. The basic concept of the game is ingenious and very well executed: help young Carto reunite with her grandmother by moving pieces of the map to gain access to new areas - and new map pieces!</p>
<p>I found Carto to be a short yet very loveable gaming experience.</p>