---
tags:
  - 2D
  - Action
  - Action Roguelike
  - Atmospheric
  - Dark Fantasy
  - Difficult
  - Early Access
  - Funny
  - Hack and Slash
  - Indie
  - Metroidvania
  - Pixel Graphics
  - Platformer
  - Procedural Generation
  - Replay Value
  - Roguelike
  - Roguelite
  - Roguevania
  - Singleplayer
  - Souls-like
title: "Dead Cells Review"
gameName: "Dead Cells"
description: "A colourful, very fast-paced challenging metroidvania that you can play for hours on end"
date: Last Modified
creationDate: 2021-07-29T10:01:37-04:00
lastPlayed: 2020-10-15T12:00:00-04:00
wasUpdated: true
heroImage: "dead-cells/The beautiful but deadly island.jpg"
heroAltText: "The land of Dead Cells must have been beautiful before the Malaise warped everything"
bannerImage: "dead-cells/banner.jpg"
bannerAltText: "The protagnist, the Beheaded, and his best friend for progressing in the game, the Collector"
version: "PC played on TV"
platform: Steam
controls: "Xbox 360 Controller"
developer: "Motion Twin"
publisher: "Motion Twin"
achievements: true
controllerSupport: true
releaseYear: 2018
verdict: "Buy"
---

<h2 class="mt-0">Quick reflexes required</h2>
<p>Dead Cells is a 2D rogue-like metroidvania, e.g. a platformer where the player moves the protagonist and makes him jump, dodge, block or attack in order to progress and eventually beat the game. The game features many unlockables which boost your power or survivability as well as some purely cosmetic ones. The game is very fast-paced and requires quick reflexes.</p>
{% image "dead-cells/Colourful graphics for clear, precise gameplay.jpg", "Although it might be hard to tell what's going on at a glance, it's very obvious when playing the game", "mt-10" %}
<h2>Colourful and detailed</h2>
<p>So Dead Cells uses some kind of pixel graphics. It’s not the old-school type of 8-bit or 16-bit graphics, but rather a style that’s very specific to this game. I think by pixel graphics I mean that the edges of characters, monsters, effects, etc. are not clearly well defined. Everything is still super identifiable and I don’t mean that the graphics are blurry. Just that they are not as crisp as they could be.</p>
<p>That being said, I think the game is beautiful. The colors are vivid, which helps identify items on the screen in milliseconds. This is really important with a fast-paced action game such as Dead Cells. I have no idea how a person with a vision impairment such as color blindness might see this game but I know the developers have made efforts to make the game more accessible to differently abled people.</p>
<p>The levels, called biomes, are procedurally generated. However they each have repeating areas and each biome comes with its own distinctive flair (as well as enemies, traps and bonuses). I found that the style of each biome was carefully crafted for a beautiful experience all-around.</p>
<h2>Stuck on an island</h2>
<p>The basic story of the game is almost non-existent however one can understand the world a bit better by playing and uncovering messages in special rooms. The main character is an amorphous blob that takes control of a dead prisoner in a dungeon and then proceeds to try and get out of the island where it’s located. The island itself is affected by Malaise, a strange sickness that warps and twists everyone. Not the most original plot but it works and it’s not where the fun of the game lies anyway.</p>
<p>I will say though that finding a message and unlocking a piece of the game’s story felt quite satisfying.</p>
{% image "dead-cells/Dangers everywhere!.jpg", "You should play Dead Cells with a controller, it feels simply better", "mt-10" %}
<h2>My thumbs are sore</h2>
<p>This game is hard. It’s built for hard-core players and it shows. It’s definitely a rogue-like game because you die ALL.THE.TIME. Of course, the more you die the more you acquire Cells and can unlock items and abilities that help you progress further and further until, hopefully, you beat the game.</p>
<p>If you manage to beat the game a few times, the additional Malaise mechanic starts being applied to the main character. This means that enemies will deal more damage, attack and teleport faster, and enemies will simply spawn near the player. I’m glad this option was not activated when I played because it makes everything harder.</p>
<p>One aspect of the game I found particularly hard was blocking multiple attacks back to back with a shield. Your mileage may vary.</p>
{% image "dead-cells/Hundreds of unlockables.jpg", "The game is constantly updated, there's tons of unlockables and lots of replay value", "mt-10" %}
<h2>Yes, you can play for hundreds of hours </h2>
<p>I felt it was very easy to sink hours and hours into this game. At the time of writing I have played Dead Cells for about 72 hours and I stopped simply because I felt like I have hit my skill ceiling and I wanted to focus on other games. E.g. it would take so much time to get better at Dead Cells that I felt my time was better spent playing something else.</p>
<p>The developers are constantly updating the game with balance tweaks, fixes and even new rooms and weapons. There are currently 3 content DLCs, adding new levels and enemies, one of which is free! On top of that there are 87 achievements available, although some of them are linked to paid DLCs. With a custom play mode available and a daily challenge, I would think it’s possible to play this game for hundreds of hours and not get bored with it. </p>
<h2>One headless character, coming up</h2>
<p>There is not much to say here. Other than the main character, the Beheaded, there are characters that help with upgrades, such as The Collector, Guillain, The Blacksmith or his Apprentice as well the Tailor to help change the Beheaded’s appearance. Some other characters have minor interactions with the player like keeping statistics. Everyone else is a monster and must be killed!</p>
{% image "dead-cells/Death is never the end.jpg", "You shouldn't play Dead Cells for the story, its main appeal lies in the swift, bloody and enthralling gameplay", "mt-10" %}
<h2>Rage! Elation! Frustration!</h2>
<p>I did not feel any bond with any of the characters but that does not mean I did not feel anything while playing. A good run brings pure fun and sometimes elation while a bad one or a stupid mistake can bring anger, frustration or even sadness. It’s a game that is easy to pick up for an hour or so and then let go. I definitely did not feel any emotional connection while playing Dead Cells, which is good because I don't think that's what the game goes for.</p>
<h2>Squishy sounds FTW</h2>
<p>There is no narration or voice acting in this game. The Beheaded mimes every answer instead of talking and every NPC’s dialogue is displayed in text. The sound effects are pleasing. It might seem gross but I particularly liked the squishing sounds as well as the tailor’s giant scissors’ sound effect.</p>
<p>From the sound of a door bursting to the attack sounds, to the satisfactory “cling” of a blocked attack, I felt like the sound effects were designed for speed and to help move the game forward. They don’t abruptly cut away, they don’t fade out, they’re audible and then gone so you move on.</p>
<h2>Beats while you smash</h2>
<p>I was surprised by how well the music fit with the game. The first level’s soundtrack is the one I remember the most, because as with other rogue-like metroidvania it’s the level that is played the most. The other tracks sound good as well and help carry the game without being a distraction. Having played with the sound muted, I can tell you that it makes the experience much less fun. The sound effects combined with the music really add to the fun of the game.</p>
{% image "dead-cells/So many weapons.jpg", "Even though there are so many weapons, you will quickly find favorites", "mt-10" %}
<h2>Simple mechanics, many possibilities</h2>
<p>The basic mechanics of Dead Cells are the same as other metroidvanias: move, jump, roll, attack and dive (when falling). However the game introduces some fun twists as well as additional mechanics. For example, if you kill multiple enemies in a short period of time, the main character will move faster, allowing the player to reach enemies faster and keep the bonus going. Being able to run the whole course of a level at maximum speed felt gratifying.</p>
<p>Dealing a lot of damage to an enemy (proportionally to its level) will stun them for a second or so, allowing the player to evade an attack or simply ramp up more damage. Some weapons will push back enemies, while others will draw them in. The Beheaded can also unlock a backpack which allows them to carry an additional item. There are also multiple status effects, the most dangerous one being Cursed. When cursed, a single hit is all it takes to kill the main character.</p>
<p>Finally, Dead Cells allows players to boost their character’s health and damage with a weapon type through the use of scrolls, which are disseminated throughout the game, with usually at least one in each biome. There are currently three weapon and consequently damage types: Brutality, Tactics and Survival. Some weapons will benefit from two types while others are “colorless”, meaning they will benefit from the highest level of damage available. Choosing how to assign each scroll is called a build and lines up the player for a particular type of weapon the further the game progresses.</p>
{% image "dead-cells/The Hand of the King.jpg", "Even though The Hand of the King is the last boss of the game, there is one that's tougher to beat", "mt-10" %}
<h2>Fun for the quick and agile</h2>
<p>As with most side-scrollers, I played Dead Cells with a controller. The controls feel very responsive and after a few runs they become second nature. This allows for all sorts of fun maneuvers, some depending on the items being used: multiple jumps and attacks, explosive drops, rolls left and right. The game really is a blast to play, especially once you start to master the basic mechanics. Hell, even bursting through a door to attack an unwary enemy feels great.</p>
<p>I would say that Dead Cells is a game with gameplay at its core. I have not had the chance to play early versions but the ones after version 2.0 feel extremely well balanced.</p>
<h2>What’s new is nice</h2>
<p>There is not much that’s truly new in Dead Cells. It’s the first time I see the main character being a ball of slime that steals corpses but it might have been done before. The colourful, flashy graphics are certainly infrequent except for 80s-styled games. Some mechanics though are new to me. I had never played a game with a speed boost when killing enemies and it was great fun. The choice of 3 ability upgrades when using scrolls was also a nice twist, since the upgrades boost different types of damage as well as health.</p>
<h2>Verdict</h2>
<p>A fast-paced explosive metroidvania, I would definitely want Dead Cells with me if I were stranded on a deserted island. Fun, challenge, action, this game checks all the right boxes.</p>
<h3>What I liked most about the game</h3>
<p>The speed boost one gets after killing 8 enemies in 10 seconds! It motivated me to kill enemies as fast as I could to keep the fun going.</p>
<p>The building up of the three abilities was also refreshing. Sometimes I would prefer focusing on one area to maximise my damage while other times I had more success with a more balanced build. It brings the capacity to adapt which helps mitigate dead builds (e.g. when one gets items that cannot be used because of the current attributes or strategy).</p>
<h3>What I liked the least about the game</h3>
<p>On the other hand, item selection is mostly based on luck and some items are clearly better than others. This means you might start to build a certain way and end up with items that are not boosted by your build, which makes for a quick game over in later levels. Some sort of reset or stat transfer available once or twice (maybe at the store?) would be great.</p>
<h3>Should I buy this game?</h3>
<p>Absolutely! One of my friends called this game “Da bomb” (thanks Alex!) and it stuck with me because it’s a good way to describe it and fits with its theme. At the time of writing, Dead Cells is available on EA Play as well as Xbox Game Pass. I find its Steam price of $25 very reasonable, especially since the development team is constantly updating the game, adding more stuff and fixing bugs.