---
tags:
  - mediumform
  - Free to Play
  - Massively Multiplayer
  - RPG
  - Sexual Content
  - Strategy
title: "Dragon Awaken Review"
gameName: "Dragon Awaken"
description: "Supposed to be a free to play (ha!) MMORPG, Dragon Awaken is an excellent demonstration of what not to do when building a video game."
date: Last Modified
creationDate: 2020-04-13T09:22:30-04:00
lastPlayed: 2020-04-01T12:00:00-04:00
wasUpdated: true
heroImage: "dragon-awaken/You can tell who the target audience is supposed to be.jpg"
heroAltText: "I don't have anything against thinly-clad characters if it serves the story but in this case there is no story"
bannerImage: "dragon-awaken/banner.jpg"
bannerAltText: "If you spend time playing this game you will want that time back"
version: "PC"
platform: "Browser (Flash)"
controls: "Keyboard & mouse"
developer: "Game Hollywood"
publisher: "Global Genom Corporate"
achievements: false
controllerSupport: false
releaseYear: 2017
verdict: "Never play this"
---

<h2 class="mt-0">An unwelcome blast from the past</h2>
<p>If you have ever played games in a browser at the turn of the century, you have experienced the true power of Flash as a gaming platform. It was fast, easy to use and everyone could use it.</p>
<p>Even though Flash is no longer the favorite development platform used by gaming studios (mainly because of catastrophic security issues), Dragon Awaken is a perfect example of what not to do with a Flash game.</p>
<p>Calling itself an MMORPG, Dragon Awaken should primarily be considered as a way to suck money from aimless teenagers and young adults.</p>
{% image "dragon-awaken/So...bright!.jpg", "The graphics are oversaturated and it quickly becomes impossible to tell head from tail", "mt-10" %}
<h2>Is this 2009?</h2>
<p>The first connection to Dragon Awaken feels like time traveling. The graphics are saturated with flashy colours, the introduction feels like it was written by a 10-year old during a school break and nothing is explained in terms of game mechanics, stats or gameplay.</p>
<p>What follows is several hours of “missions” where you need to travel from one personality-devoid character to the next or kill X enemies of a given type. This is what MMORPGs looked and felt like 15 years ago and I, for one, am really glad the gaming community has moved past that stage. Sadly, Dragon Awaken has not.</p>
{% image "dragon-awaken/What the hell is going on.jpg", "The user interface is a total mess", "mt-10" %}
<h2>The ultimate stat!</h2>
<p>While playing and finishing so-called “missions”, a player will unlock various aspects of the game that help boost the BR, the main character stat, representing their combat strength. Everything that is done during the game ultimately serves the purpose of boosting the BR (Bro Rating? Big Ranking? Who knows?)</p>
<p>Despite the developers’ claim, I could not find any RPG element in the game. The only choice available during my play time was the choice of Skill, which determines which attacks and special abilities your character will use while fighting. And why fight? To boost one’s BR, of course! Which is used to do what? More fighting!</p>
{% image "dragon-awaken/How to pay for more colours.jpg", "Please don't give the developers more money", "mt-10" %}
<h2>The Money pit</h2>
<p>At least there is an option to boost combat speed. Unfortunately it only speeds it by half. To completely skip fights and speed the game up appreciatively, you have to be a VIP member. A not-so-useful way to spend your money. And it’s far from the only one! Everything in this game seems designed to extract a maximum amount of cash from players. Every transaction might only be a few dollars but there are so many ways of spending money that I would not be surprised if you could spend thousands in a day of playing.</p>
<p>The ads for the different ways to spend money are legion. They take up a good portion of screen real estate. Every time you are purposelessly blocked by the game from improving, Dragon Awaken will give you an option to bypass that wall. From the “Deity Covenant”, to the “Investment” function or the “1st Recharge Bonus”, if you start using them you will quickly learn your credit card number.</p>
{% image "dragon-awaken/So many things to fix.jpg", "The game is basically 'pit two teams against one another'", "mt-10" %}
<h2>So many things to fix</h2>
<p>I tried really hard to find something I like in Dragon Awaken. I guess you could say the graphics are well done? Even though I sometimes found them hard to look at because of the overabundance of bright colours.</p>
<p>Because I don’t want to spend too much time on this game, here are some of the things I found that contributed to this game’s appalling review:</p>
<ul>
  <li>All the female characters were designed to show a maximum of skin while having a minimum of personality.</li>
  <li>The shitty animations that run at 5 frames per second.</li>
  <li>The studiply high latency means enemies on a map take several seconds (sometimes 10+) to load, causing you to get taken out by other players, which means additional delays.</li>
  <li>The user interface is severely bloated and impossible to use.</li>
  <li>The total lack of a consistent story.</li>
  <li>The absolute lack of choice.</li>
  <li>The now infamous Flash memory leak, which means the game slows down the more you play it.</li>
  <li>The bad character and world design is straight from a middle school teenager’s manga dreams.</li>
  <li>The fact that you cannot play the game with Chrome - although that might actually be a blessing.</li>
</ul>
<h2>Verdict</h2>
<h3>Avoid like the plague</h3>
<p>In short, if you’re ever stranded on a desert island with nothing to do but play Dragon Awaken, you would still be better off doing nothing at all. This is how bad I think the game is.</p>