---
tags:
  - 2D
  - Atmospheric
  - Card Battler
  - Card Game
  - Choices Matter
  - Choose Your Own Adventure
  - Comic Book
  - Dark Humor
  - Deckbuilding
  - Hand-drawn
  - Multiple Endings
  - Roguelike
  - Roguelite
  - RPG
  - Sci-fi
  - Singleplayer
  - Story Rich
  - Strategy
  - Turn-Based
  - Turn-Based Combat
title: "Griftlands Review"
gameName: "Griftlands"
description: "A fun, open-ended card game with a focus on three different characters"
date: Last Modified
creationDate: 2021-08-05T09:51:04-04:00
lastPlayed: 2020-10-15T12:00:00-04:00
wasUpdated: true
heroImage: "griftlands/These grifters mean business.jpg"
heroAltText: "The wacky, gritty world of Griftlands is home to three protagonists who are heroes by no mean"
bannerImage: "griftlands/banner.jpg"
bannerAltText: "Every character has more than one different playstyle and this deck-builder has excellent replay value"
version: "PC"
platform: Epic Games Store
controls: "Keyboard & mouse"
developer: "Klei Entertainment"
publisher: "Klei Entertainment"
achievements: false
controllerSupport: true
releaseYear: 2021
verdict: "Buy"
---

<h2 class="mt-0">A well-made, gritty deck-building experience</h2>
<p>Wow, this game is different! Or at least it feels that way. Maybe it’s the art style? Or the alien races? Or the weird language that everyone speaks? In any case, from what I have seen and read, Griftlands might be a “love it or hate it” kind of game, with few people falling in between. Personally I had a lot of fun playing this game and trying to complete some of its objectives.</p>
<h2>Not your average single-player mode</h2>
{% image "griftlands/Three characters for three different stories.jpg", "Each protagonist's style and story is vastly different, so you must play all three to get the whole picture", "mt-10" %}
<p>Griftlands features a single-player campaign in 3 arcs, each having its own distinct protagonist. You must complete the current character’s story in order to unlock the following one. Each character has a unique personality and art style: a cybernetically enhanced revenge-bent bounty hunter, an aviator-looking ex-spy playing all sides against one another and a disinherited hardened green skinned bar-hopper with slug eyes.</p>
<p>I found the story interesting as it helped flesh out the watery-grey, unforgiving world of Havaria, where the inhabitants try to eke out a living with whatever they can get their hands / paws / suction cups on.</p>
<h2>Not so roguelite</h2>
<p>I read that some players are having trouble beating the campaign with some characters. Apart from an unlucky trial run with Sal, the first character, I did not find the campaigns hard.</p>
<p>However the game is well-made and incorporates a brawl mode, which includes all the fun of fighting and building your deck but no lengthy dialogue that could slow down play rhythm. In that sense, brawl mode is similar to a run of Slay the Spire, for example. I think it was a good design decision to force players through the campaigns before allowing brawl runs as most of the flavour of the game is found in the three characters’ stories.</p>
{% image "griftlands/The game features tons of unlockables.jpg", "The replay value of Griftlands is excellent. In fact, the core of the game seems to be geared toward replay value.", "mt-10" %}
<h2>Fun for a long time</h2>
<p>Once a campaign or brawl is completed, you can replay it at a higher prestige level for a tougher go at it. At the time of writing I have not yet reached the highest prestige level but level 4 is already pretty unforgiving. You have to focus on each character’s core concept and build quickly around a solid strategy to make it through.</p>
<p>Fortunately, you can unlock additional cards after each playthrough (up to a maximum). These help fine-tune a given strategy but the bigger pool of cards means a smaller chance to get exactly the card you need when you’re offered a chance. I liked the delicate balance achieved between the two.</p>
<p>There are also many other unlockables, as well as achievements so an aficionado of card or deck-building games could probably play Griftlands for hundreds of hours.</p>
{% image "griftlands/Boss Fight.jpg", "If you are well prepared and have played deck-builders before, most fights should pose little challenge. Except boss fights.", "mt-10" %}
<h2>Two for one</h2>
<p>Contrary to most other deck-building games, Griftlands splits the cards deck into two: a negotiation deck and a battle deck. The principle remains the same: bring your opponent’s argument or hitpoints to zero or close enough that they surrender. For campaigns you will actively need both decks; for brawls you can focus exclusively on the battle deck.</p>
<p>Other than that, Griftlands is a good card game, with some general mechanics like status effects (bleeding, stunned, etc.), allies and enemies that add bonuses and penalties, as well as mechanics specific to each character (gamble, concentration, combo & finisher, drink, moxie, trauma, renown, etc.). The combination of all of those makes for a pleasant experience of building your deck and your strategy as you go, acquiring or removing cards as necessary, whatever your style or character.</p>
{% image "griftlands/Character relationships can help or hinder progress.jpg", "Some useless-looking NPCs find some use through their relationship with the protagonist.", "mt-10" %}
<h2>A diverse and entertaining cast</h2>
<p>Speaking of characters, I must say I did not get too attached to the three heroes of the game. Maybe it’s because they end up straight up murdering people during the course of their storyline. Yes, the world of Havaria is harsh but watching my character kill someone just to complete a mission did not endear them to me. Especially since most of the time they don’t seem to feel any remorse at all.</p>
<p>Still, their motivation is clear and their respective card sets fit well with who they are. And even though I didn’t feel some deep connection to the characters, it did not diminish my enjoyment of the game. This is supposed to be a roguelite deck-building game, after all!</p>
<p>Other characters are mostly disposable (sometimes literally) except for the bartenders of all three story arcs. Each NPC can like, love, dislike or hate the protagonist. Every love relationship carries a unique bonus whereas every hate relationship comes with a unique penalty.</p>
<h2>Original voice acting and on par sound design</h2>
<p>The voice acting really stands out for one major reason: every dialogue is spoken in an invented language. It is quite striking at first but soon becomes simply one more element of a peculiar world. The fact that the dialogue is gibberish really made me appreciate the art and animation of the characters: even though I could not understand what the characters said, the non-verbal language and cues were really helpful. Oh and the subtitles help too.</p>
<p>All other sounds fit marvelously well. It’s a good sign when you don’t notice the sound effects: it means they are perfectly adapted to their purpose. The same goes for the music. It’s well suited to the different moods of the game. For example the battle music picks up and becomes more tense when hit points fall past a certain threshold.</p>
{% image "griftlands/An example of deck.jpg", "The deck-building aspect of the game is pretty straightforward.", "mt-10" %}
<h2>Novelty shnovelty</h2>
<p>As far as I can tell, Griftlands does not do much that’s purely innovative, but it does everything really well. The controls are smooth, the interface is intuitive, there are plenty of options to speed up the game (as well as make it easier for streamers!), there are mutators available to modify the game in almost every way, there are achievements that are hard to achieve, there’s a good variety of play styles (although less so for each individual character) and most importantly everything fits well together and with the post-apocalyptic world populated by humans, robots and anthropomorphic creatures.</p>
<p>You can tell that the game spent a while in early access and was developed incrementally. Griftlands has excellent replayability, a solid 3-part campaign and a unique aesthetic (and language!). Bundled together, this makes for an excellent game that can draw a player for hours at a time.</p>
<h2>Verdict</h2>
<p>A hand-drawn, turn-based card game with dark humour in a desolate world, Griftlands has a lot to cater to different tastes. Any fan of card and deck building games should like this game. I certainly loved it!</p>
<h3>What I liked most about the game</h3>
<p>I could say how everything is so well done, from the interface to the animation to the sound design. But I’m going to go with how fun it is to play.</p>
<h3>What I liked the least about the game</h3>
<p>The fact that replaying a given character’s campaign offers little in terms of storytelling or lore expansion.</p>
<h3>Should I buy this game?</h3>
<p>I did and I think you should too. I bought Griftlands for about $10 on the Epic Games store thanks to a coupon and I don’t regret it one bit. If the game is ever bundled it would be too good to miss. Fans of the genre will appreciate it enough to warrant buying it at full price, which is not that high considering all the variety that is included.