---
tags:
  - 2D
  - Atmospheric
  - Card Battler
  - Card Game
  - Choices Matter
  - Choose Your Own Adventure
  - Comic Book
  - Dark Humor
  - Deckbuilding
  - Hand-drawn
  - Multiple Endings
  - Roguelike
  - Roguelite
  - RPG
  - Sci-fi
  - Singleplayer
  - Story Rich
  - Strategy
  - Turn-Based
  - Turn-Based Combat
title: "Griftlands Review"
gameName: "Griftlands"
description: "A fun, open-ended card game with a focus on three different characters"
date: Last Modified
creationDate: 2021-08-05T09:51:04-04:00
lastPlayed: 2020-10-15T12:00:00-04:00
wasUpdated: true
heroImage: "griftlands/These grifters mean business.jpg"
heroAltText: "The wacky, gritty world of Griftlands is home to three protagonists who are heroes by no mean"
bannerImage: "griftlands/banner.jpg"
bannerAltText: "Every character has more than one different playstyle and this deck-builder has excellent replay value"
version: "PC played on TV"
platform: Steam
controls: "Keyboard & mouse"
developer: "Klei Entertainment"
publisher: "Klei Entertainment"
achievements: false
controllerSupport: true
releaseYear: 2021
verdict: "Buy"
---

{% image "dead-cells/Colourful graphics for clear, precise gameplay.jpg", "Although it might be hard to tell what's going on at a glance, it's very obvious when playing the game", "mt-10" %}
<h2 class="mt-0">A well-made, gritty deck-building experience</h2>
