---
tags:
  - longform
  - 2D
  - Action
  - Action-Adventure
  - Adventure
  - Atmospheric
  - Dark
  - Dark Fantasy
  - Difficult
  - Exploration
  - Gore
  - Horror
  - Indie
  - Metroidvania
  - Platformer
  - Puzzle
  - Puzzle Platformer
  - Singleplayer
  - Stealth
  - Story Rich
  - Violent
title: "INSIDE Review"
gameName: "INSIDE"
description: 'A simple yet extremely well executed platformer where you help a "boy" escape death at every turn'
date: Last Modified
creationDate: 2020-03-01T19:50:08-04:00
lastPlayed: 2020-03-01T12:00:00-04:00
wasUpdated: false
heroImage: "inside/Ominous forest.jpg"
heroAltText: "The mood is set from the very start of INSIDE: dark, intringuing, unforgiving, unforgettable"
bannerImage: "inside/banner.jpg"
bannerAltText: "Is this boy with a red shirt the only sane inhabitant of INSIDE's world?"
version: "PC played on TV"
platform: Steam
controls: "Xbox 360 Controller"
developer: "Playdead"
publisher: "Playdead"
achievements: true
controllerSupport: true
releaseYear: 2016
verdict: "Buy on sale"
---

<h2 class="mt-0">A simple goal</h2>
<p>Do you find it hard to know what a game wants you to do? Do you get confused or lost when there are too many options? Do you enjoy wonderfully well-crafted games that will stay with you for years to come? Boy, have I got a game for you! The premise of INSIDE is very simple: you play a boy that needs to go… somewhere to the right.</p>
<p>The difficulty lies in the fact that the environment, people, animals, robots and whatnot are all trying to kill you. Or incapacitate you, the story is not always clear on your fate when you “die”. And you will die a lot, at least at first.</p>
<h2>Hey, listen!</h2>
<p>Few games were able to capture and keep my attention so quickly. The objective is simple: keep moving. The obstacles are numerous, often deadly, and about every time I met a new one I had to try at least a few times to get past it. Although this could quickly become a tedious grind-fest, INSIDE fleshes out so many different challenges and environments that it's never boring.</p>
<p>I finished the game in one sitting - in about 4 hours - and then thought about it for the rest of the day. The next day I started it again and finished all the achievements, which are easy enough to obtain - you'll even get some of them simply by playing.</p>
From not getting caught in the light to learning to stick to a particular spotlight, you'll die A LOT
{% image "inside/Well, you're dead.jpg", "The visuals can be so detailed, here you see the particles in the water", "mt-10" %}
<h2>See yourself die in beautiful details</h2>
<p>The graphics are simple yet elegant. The background details play a large role in explaining the world and convey a sense of post-apocalyptic despair. I regularly found myself pausing to make sense of everything shown on the screen.</p>
<p>It's unclear who the main character, the boy, is. I loved that he is wearing a red shirt, which makes tracking him quick and easy.</p>
<p>I found that light also plays a big role in INSIDE, both as part of the storytelling process and as a guide. It can also act as a warning. Because guess what happened when I got caught in the wrong spotlight? Instant game over. So I learned to keep to the shadows.</p>
{% image "inside/Don't let them see you.jpg", "Almost everyone is an enemy, so beware and do not let anyone see you", "mt-10" %}
<h2>Hello darkness, my old friend</h2>
<p>And this game is dark. From a farm with dead pigs piled up, to a gigantic factory processing people, to an office building where scientists are studying… something, it seems the further I got the more bizarre and twisted the world turned out to be. Running from ordinary threats such as people and dogs, I learned to use mind-controlled automatons, physics and the occasional chick swarm to keep moving forward. However the threat of violent death is ever present and helps to stay in the game. Or at least it helped me.</p>
{% image "inside/Some characters unwillingly help you.jpg", "Learning to use the environment, including other characters, is key to surviving in INSIDE", "mt-10" %}
<h2>Intuitive mechanics</h2>
<p>The controls are simple and responsive. Move, jump, push, pull. That's it. The ingenuity of the level designers makes for a very intuitive and yet intriguing experience. When unable to progress further, I would often ask myself “Well, what next?” And then, when I figured it out - which usually didn't take long because the clues are often quite obvious - I would usually have a big “Oohh, that is clever!” moment. Once I learned to use a given object, I could extrapolate how to use it when confronted with a new scenario.</p>
<p>It's hard for a game to make the player learn its internal mechanics without ever explaining them directly all the while conferring a sense of achievement every time an obstacle is overcome. It's a concept that's really hard to pull off but I found that INSIDE succeeds hands down. Note that I played the entire game with an Xbox 360 controller so the game will probably feel different with a keyboard and mouse. I highly recommend using a controller.</p>
{% image "inside/What is this supposed to be.jpg", "INSIDE's world is strange in a good way and designed in a way as to incite curiosity", "mt-10" %}
<h2>But why?</h2>
<p>Because of its simplicity and general structure however, the game does not have varying difficulty levels or a lot of replayability, especially once all achievements are unlocked. It's still a fun game to play, it's only more of the same. However, because the game's world, and the game's atmosphere, are so well designed and well put together, I found myself repeatedly asking myself “Why?” and thinking about the game in general during the days after I finished it.</p>
<p>It's a lingering experience of sorts, even if one doesn't get to play it for a hundred hours. Also, I find there is something very satisfying about finishing a game in one sitting. All in all I had a good experience, and a good emotional connection with INSIDE. I still think about the game from time to time, which is a good sign the developers did a lot of things right.</p>
<h2>Sounds and music to help you on your way</h2>
<p>A game would not be a multimedia experience without sound and music. The sounds work very well with the gameplay, helping guide the player through the puzzles and challenges. They also help set the mood. The music is also great, although I wouldn't listen to it on its own.</p>
<p>The soundtrack is very atmospheric - the Steam description mentions ambient music, which I find spot on. I don't even remember any of the tracks but I do remember that the music greatly helped me feel panicked, relieved, amazed or curious at the appropriate time while playing.</p>
{% image "inside/Some unlikely friends.jpg", "The chicks were a welcome addition of colour to an otherwise bleak, desolate world", "mt-10" %}
<h2>Not simply a remake</h2>
<p>Many will say this game is LIMBO 2.0 and they are partly right. In essence INSIDE has the same premise and mechanics. But the experience is wholly different. I connected much more strongly with the boy from INSIDE than the one from LIMBO. The whole universe and atmosphere felt much more cohesive. Don't get me wrong, both games are good. But INSIDE is definitely better.</p>
{% image "inside/What are we looking at.jpg", "The light, shadow and darkness always come into play in INSIDE", "mt-10" %}
<h2>Do you like answers? You get more questions!</h2>
<p>I don't want to spoil the ending, or even the major events happening during the game but I will say that you have to play the game to the end. It's beautiful, completely incomprehensible but at the same time an epiphany of sorts. And it's definitely a big part of the game, even if it leaves you scratching your head.</p>
<p>For my part, since I had all sorts of questions after playing the game, I also took the time to find the secret ending. Which left me with more questions than answers, but I feel like that's the whole point of this game: to be an unforgettable experience.</p>
<h2>Verdict</h2>
<p>INSIDE will haunt you, in a good way. This game is one of the few deserving of being called a masterpiece.</p>
<h3>What I liked most about the game</h3>
<p>It's very hard to say, because everything fits together so well. Since I have to say one thing, I'll say it was probably the emotional connection with the world.</p>
<h3>What I liked least about the game</h3>
<p>How sometimes I knew what I needed to do to get through a given area but in my haste I was somehow thwarted and I was forced to restart.</p>
<h3>Should I buy?</h3>
<p>Definitely! I recommend buying on sale, because the replayability is low. I think paying $20 for 4-5 hours of playtime is not very good value.</p>