---
tags:
  - longform
  - Adventure
  - Atmospheric
  - Building
  - Cartoony
  - Co-op
  - Crafting
  - Emotional
  - Exploration
  - Farming Sim
  - Female Protagonist
  - Fishing
  - Funny
  - Hand-drawn
  - Indie
  - Local Co-Op
  - Management
  - Platformer
  - Relaxing
  - Simulation
  - Story Rich
title: "Spiritfarer Review"
gameName: "Spiritfarer"
description: "A very colourful base building, resource-gathering, gift-crafting emotional journey to bring dead people to their final parting"
date: Last Modified
creationDate: 2023-09-09T10:15:04-04:00
lastPlayed: 2021-09-01T12:00:00-04:00
wasUpdated: false
heroImage: "spiritfarer/Explore, dig, craft, cook but most of all help, along with Daffodil.webp"
heroAltText: "Because in the end, we all need someone to hug."
bannerImage: "spiritfarer/banner.jpg"
bannerAltText: ""
version: "PC"
platform: Steam 
controls: "Xbox 360 Controller"
developer: "Thunder Lotus Games"
publisher: "Thunder Lotus Games"
achievements: true
controllerSupport: true
releaseYear: 2020
verdict: "Buy whenever you feel like it"
---

<h2 class="mt-0">A big bag of feelings</h2>
<p>What an amazingly emotional game this turned out to be! As the ferryman of the dead, Stella navigates the waters of a small yet diverse world. She meets spirits (e.g. souls) of people she has met while alive. Even though I found the dialogue with passengers to be rather limited, I felt both sad and contented whenever I delivered one to the Everdoor.</p>
<h2>Charon 2.0</h2>
<p>The game starts with the player as Stella, a young androgynous-looking woman, who is tasked with replacing Charon as ferry(wo)man of the dead. From there, you must “recruit” spirits to your boat, upgrade it, farm vegetables, plants, milk and eggs, mine ores and transform them, build and upgrade buildings and eventually deliver each spirit to the Everdoor, the final obligatory passage for every dead person.</p>
<p>Throughout all this, each spirit will, from time to time, give Stella some particular task. Stella must travel the width of the new world she inhabits in order to complete the tasks. Doing so allows her to unlock new abilities which means reaching new areas, unlocking new upgrades for production buildings and so forth.</p>
<h2>Beautiful and colourful animals</h2>
<p>The hand-drawn, colourful visuals are immediately stunning. They remind me of Forgotton Anne. Everything is visually well-defined, every character is unique in its design and every aspect of each environment is crisp. The colours are vibrant and plentiful.</p>
<p>Since the main characters are all anthropomorphized animals - with the exception of Stella - visual expressions play a big role in understanding dialogue with them. The visuals render the different characters’ expressions faithfully, helping enhance the possible connection with the characters.</p>
{% image "spiritfarer/01 - Spiritfarer - A Colourful, Joyous World.jpeg", "Vibrant colours, beautiful characters and environments - ", "mt-10", { url: 'https://steamcommunity.com/profiles/76561199350762421', name: 'suphtynie' } %}
<h2>Anyone can complete it</h2>
<p>Spiritfarer is not a game that was designed to be hard. As far as I can tell, it’s impossible to fail at a given task. If you have limited gaming skill, you will simply require more time. Gamers that are looking for a hardcore challenge need to look elsewhere. People who want a casual, relaxing yet fulfilling gaming experience will appreciate the game’s low difficulty ceiling.</p>
<h2>Play only once, maybe twice for the achievements</h2>
<p>For a game centered around resource-gathering and farming, the game is surprisingly short. This is no Stardew Valley but it is longer than some like, say, Atomicrops. I spent 30-40 hours completing the game and all its achievements. Note that I completed the game before the final update, which transformed the game into the Farewell Edition.</p>
<p>The replayability factor, however, is low. After all, Spiritfarer focuses on death, letting things go and the concept of closure. So the end of the game - emotional and even heart-wrenching but in a good way - means that it’s time to move on to other activities and other games.</p>
{% image "spiritfarer/02 - Spiritfarer - The Everdoor.jpeg", "You will probably finish the game much too soon", "mt-10", { url: 'https://steamcommunity.com/id/KeeperOfMonsters', name: 'Keeper Of Monsters' } %}
<h2>A crowd to please everyone</h2>
<p>The game features a diverse cast of characters. Of course, all important characters, mainly the spirits that Stella must bring to the Everdoor, are anthropomorphized animals. From a deer, to a giant frog, a snake, felines and more, each character is unique in both their appearance and personality.</p>
<p>I found most of the characters endearing but relished more personal stories and connections with Stella herself. The first few characters are directly linked to her and her past but some of the others are not and I felt more detached towards some of them. You will, of course, have a favourite or two, especially since all characters are well-written and sport a distinctive style.</p>
<h2>Unsurprisingly emotional</h2>
<p>If you are playing it only for its farming or building aspects, you will probably find that Spiritfarer is surprisingly emotional. Since it’s also a game about death, transition and closure, I think it’s normal that emotions take a large place.</p>
<p>You might think that playing a game where you bring characters to their death, after learning from them and about them, will make you feel sad. And you would be right, there is some inevitable sadness when dealing with death. But there is much more than that! I felt love, excitement, nostalgia, relaxation, anger, inspiration and determination.</p>
<p>From the start until almost the end, there is never a lack of things to do in Spiritfarer. This is good as it allows the player to relax after an emotional scene or two.</p>
{% image "spiritfarer/03 - Spiritfarer - Daffodil the Cat.jpeg", "Even a game without a speaking protagonist can stir up feelings", "mt-10", { url: 'https://steamcommunity.com/id/KeeperOfMonsters', name: 'Keeper Of Monsters' } %}
<h2>Not only a delight for the eyes</h2>
<p>None of the characters are voiced - except for some animal noise - and Stella has no dialogue whatsoever herself. I found that this made it easier for me to connect with every character as it was (almost) effortless to pretend that they were speaking directly to me.</p>
<p>The sound effects blend perfectly into the auditory landscape with appropriate sounds triggering when an action is ready or a particular character needs some attention. The music is relaxing, even comforting at times. Every character has a different theme and they all suit their personality - even Alex’s theme, which is so exasperating that the developers had to add an option to turn it off.</p>
<h2>Simple controls, many possibilities</h2>
<p>I’m glad to see the development of more games without direct violence, such as Spiritfarer. It allows players to focus on other solutions to problems presented by the games. In the case of this game, it mainly means moving around, obtaining materials then crafting them to complete objectives given by characters.</p>
<p>Apart from moving and its derivatives (double-jumping, gliding, etc.), the only meaningful other way to impact the world is with the interact button, which allows everything from mining to talking to characters and buying. Stella can also open her inventory in order to inspect items, start quests and get additional items.</p>
<p>It’s amazing that with such simple controls requiring three buttons (plus another one for cancelling) the game allows such possibilities to impact the game’s world and its characters.</p>
{% image "spiritfarer/04 - Spiritfarer - Gliding on Wires.jpeg", "There are many fun ways to get around, in Spiritfarer", "mt-10", { url: 'https://steamcommunity.com/id/parallel-platypus', name: 'Parallel Platypus' } %}
<h2>Relaxation included</h2>
<p>This game is so relaxing! I usually dislike gameplay that feels too repetitive or where there isn’t a clear objective so I was surprised to like, and even love, the way Spiritfarer is played. I could wander from place to place, choosing my objectives as I went along as there was always something to do, either for one of the characters on the boat or for another character giving side quests.</p>
<p>The tasks required to advance objectives are diverse but boil down to a few simple categories. There’s planting, gathering resources, mining, crafting, cooking, etc. Somehow I did not mind this simplicity and in fact I think it’s a big part of what makes this game so charming. And these are things that would probably feel like chores if I were to do them in real life!</p>
{% image "spiritfarer/05 - Spiritfarer - Fishing during the Golden Hour.jpeg", "I don't even like real life fishing, but I enjoyed this game's version of it", "mt-10", { url: 'https://steamcommunity.com/id/tupungato', name: 'tupungato' } %}
<h2>Nothing brand new, but a lovely package all the same</h2>
<p>The farming, cooking, building and crafting aspects of the game have been seen before in many a game before this one. The core concept of playing as Charon though, is brand new, or at least it is to me. Making a game by combining the two together might at first glance seem ridiculous but Spiritfarer pulls it off quite well.</p>
<p>I'm excited to see in what new and interesting ways game developers will use farming and crafting in order to tell stories.</p>
<h2>Verdict</h2>
<p>Spiritfarer is an excellent game, with great music and sounds, colorfoul visuals and unforgettable characters.</p>
<h3>What I liked most about the game</h3>
<p>The soothing and relaxing effect of the gameplay, and how easy it felt to sink hours in the blink of an eye. Also, the fact that I still regularly think about the game, years after completing it. I love games that make a lasting impression.</p>
<h3>What I liked the least about the game</h3>
<p>Watering plants, which felt uselessly repetitive - it should have been automated at some point. Also, the way the double jump sometimes will not trigger. This is especially frustrating in a game with lots of platforming.</p>
<h3>Should I buy this game?</h3>
<p>Absolutely! If you like games with building, farming, emotional connections and meaningful characters, you will love Spiritfarer. Note that the game was available at one point on Xbox Game Pass. It might eventually come back to it but I would not count on it as it’s been removed from the service for more than one year at this point.</p>