---
tags:
  - longform
  - Action
  - Action Roguelike
  - Comic Book
  - Crafting
  - First-Person
  - Gore
  - Immersive Sim
  - Indie
  - Procedural Generation
  - PS
  - Roguelike
  - Roguelite
  - Sci-fi
  - Shooter
  - Singleplayer
  - Space
  - Stealth
  - Strategy
  - Stylized
  - Violent
title: "Void Bastards Review"
gameName: "Void Bastards"
description: "A quirky first-person shooter with rogue-lite elements, zany characters, drab colours and lots of weapons and upgrades"
date: Last Modified
creationDate: 2021-09-08T15:13:04-04:00
lastPlayed: 2021-08-01T12:00:00-04:00
wasUpdated: false
heroImage: "void-bastards/So many clients to kill, so little time.jpg"
heroAltText: "I wish the character being played could have felt a bit more unique each time"
bannerImage: "void-bastards/banner.jpg"
bannerAltText: "Play a client that has to hunt items to survive and beware of B.A.C.S., the psychopath AI"
version: "PC"
platform: Epic Games Store
controls: "Keyboard & mouse"
developer: "Blue Manchu"
publisher: "Humble Games"
achievements: true
controllerSupport: true
releaseYear: 2019
verdict: "Buy on sale or in a bundle"
---

<h2 class="mt-0">Where the clients do the work</h2>
<p>Although Void Bastards is presented as a Roguelike and Roguelite game, meaning you are expected to die and try multiple times, it’s the first time I played a first first-person shooter (FPS) that entirely integrates this aspect. Most FPSes follow a single character, the “hero”, through the story of the game.</p>
<p>Void Bastards is different because you play a series of space prisoners sent to find specific items in order to repair a ship. Along the way you pick up various items that can be used to build weapons or upgrades.</p>
{% image "void-bastards/Muted colours.jpg", "The colours are quite muted while exploring ships", "mt-10" %}
<h2>Different look, different feel</h2>
<p>The visuals are immediately striking. This game looks, smells, breathes and lives like a comic book. The cutscenes are even presented as comic book panels. The graphics make heavy use of cell-shading and most in-game text is displayed using the Comic Sans font (or a close enough facsimile).</p>
<p>The colours are muted to the extreme, with enemies and environments alike using washed out tones of grey, blue and green. I found this contrasted heavily with the comic book approach as comics of old usually used bright, even garish, colours. </p>
{% image "void-bastards/The first death is pretty much unavoidable.jpg", "It would not be a roguelike if you did not have to die a lot to learn", "mt-10" %}
<h2>It’s a sick, twisted world</h2>
<p>The protagonists of Void Bastards come from a fully automated prisoner ship run by a corporation. As such, every prisoner is called a client. The ship has been damaged by space pirates and you, the player, must go out in the nearby nebula in order to recover several items essential for repairing the ship.</p>
<p>Every time you think that you have succeeded and the problem is fixed it actually gets worse. The ship then dives deeper inside the Nebula and the player has to go back out there and try to find more items. Eventually the ship is repaired and returns to base, with an ending that I came to  expect, considering the world of Void Bastards is cruel to the extreme.</p>
{% image "void-bastards/The space pirates can be quite hard to kill.jpg", "As long as you don't descend too fast in the nebula, this game is not that hard", "mt-10" %}
<h2>Not very hard if you’re lucky</h2>
<p>The game starts hard but can become very easy if you get a character with the right abilities, called traits. Some traits are useless, some are detrimental but some are absolutely life-saving (e.g. Security Expert or Sixth Sense). I was able to clear three whole nebula levels with the same character until I got cocky.</p>
<p>The final nebula level is harder but by then you know the enemies, the ship layouts and, most importantly, what to do and not to do on a ship. The space pirates, once I was well-equipped, felt like an appropriate challenge though.</p>
<p>I was able to finish the game in about 13 hours but I explored a lot so a good player in a hurry will finish it faster. Once complete, there are gameplay modifiers, called Workplace Challenges, that can be applied to make the game either more challenging or absolutely insane.</p>
{% image "void-bastards/Your friendly emotionless AI.jpg", "The AI's dialogue was quite fun to listen to and I found the idea that characters could be dehydrated and stored in file cabinets quite entertaining", "mt-10" %}
<h2>Everyone is a wacky character</h2>
<p>The main character, e.g. player, is an orange-suited convict who never speaks. The ship’s computer AI does talk, is completely ruthless, and has a dark sense of humor. That darker shade of humor is present throughout the game and shared by some enemies.</p>
<p>All enemies have a similar look, most of them bearing a greenish tint. Tougher enemies behave exactly the same but have a different colour scheme and / or deal more damage. I found this lack of diversity a bit lackluster.</p>
<p>I did not feel particularly attached, emotionally speaking, to any character but I did feel cheated every time the story twisted and it meant that the work I had done was suddenly useless.</p>
<h2>Sounds and music to know when to start shooting</h2>
<p>I loved the distinctive accents used for the enemies (British, right?) and was thankful for the subtitles. The enemies’ dialogues are funny at first - a note of warning, some of them contain profanity - but quickly become repetitive. They are, however, essential. Sounds and music are extremely useful to know when an enemy has spotted you. The music also helps to raise the player’s adrenaline level.</p>
{% image "void-bastards/Lots of unlockables here.jpg", "The game features interesting unlockables, including an optional extra life", "mt-10" %}
<h2>Cool weapons and upgrades</h2>
<p>The controls are pretty basic: move, interact and use your current weapon (only one mode available). Added to those are the controls to build or disassemble items, weapons and upgrades.</p>
<p>The weapons provide some very different abilities, some of which feel very overpowered (e.g. Scrambler). Since the game only allows you to take one weapon, one accessory and one device, it’s essential to strategize and use the items most suited to the enemies on the ship you’ll be visiting.</p>
<p>In the end, Void Bastards feels more like an action first-person shooter than a roguelite / roguelike game, even with the crafting and upgrade aspects included.</p>
<h2>Old parts for a new whole</h2>
<p>There wasn’t much that was new in Void Bastards, at least not to me. The combination, however, of grim humor - all equipment, weapons and upgrades share the game’s dark sense of humor - along with a comic book feel, insult-slinging enemies, twisted world and (supposed) roguelite elements was brand new and well put together.</p>
<h2>Verdict</h2>
<p>Void Bastards is a fun game with addictive, if repetitive, gameplay. The visuals could definitely use more colours.</p>
<h3>What I liked most about the game</h3>
<p>The never-ending quest for items and upgrades and the fact that most new weapons and upgrades are actually very useful. The gameplay can also be quite addictive.</p>
<h3>What I liked the least about the game</h3>
<p>The colours! It’s like life has been leached out of Void Bastards’ world. I understand the game is going for a “capitalist hell” type of vibe, but the drab colour scheme made the game less fun.</p>
<h3>Should I buy this game?</h3>
<p>If you like games that feel different, comic books, dark humor, sci-fi weapons and upgrades and sassy AI dialogue then yes, Void Bastards is for you. You should check out some screenshots or videos to see how the game looks before commiting though (because of the colours!)</p>
<p>I think it would be best to buy this game on sale, because in my opinion the base game is not long enough to warrant its price tag.</p>
