---
title: review-template.njk
layout: base
---

<main>
{%  include 'layouts/partials/billboard.njk' %}
  <div class="p-0 flex flex-row justify-center items-start">
    <div class="flex-1" style="flex-shrink: 3"></div>
    <article class="article">
      {{ content | safe }}
    </article>
    <aside class="flex-1 flex justify-center">
      <div class="m-3" style="min-width: 325px; max-width: 445px;">
        <div class="section-summary leading-none">
          <h4 class="mb-4">Game details</h4>
          <p>
            <span class="flex-1">Released in:</span>
            <span class="flex-1.5"><strong>{{ releaseYear }}</strong></span>
          </p>
          <p>
            <span class="flex-1">Developer:</span>
            <span class="flex-1"><strong>{{ developer }}</strong></span>
          </p>
          <p>
            <span class="flex-1">Publisher:</span>
            <span class="flex-1"><strong>{{ publisher }}</strong></span>
          </p>
          <p>
            <span class="flex-1">Achievements / trophies:</span>
            <span class="flex-1"><strong>{% if achievements %}Yes{% else %}No{% endif %}</strong></span>
          </p>
          <p>
            <span class="flex-1">Controller:</span>
            <span class="flex-1"><strong>{% if controllerSupport %}Yes{% else %}No{% endif %}</strong></span>
          </p>
          <h4 class="mb-4 mt-4">Review system</h4>
          <p>
            <span class="flex-1">Version:</span>
            <span class="flex-1"><strong>{{ version }}</strong></span>
          </p>
          <p>
            <span class="flex-1">Platform:</span>
            <span class="flex-1"><strong>{{ platform }}</strong></span>
          </p>
          <p>
            <span class="flex-1">Controls:</span>
            <span class="flex-1"><strong>{{ controls }}</strong></span>
          </p>
        </div>
        <h4 class="mb-4 mt-4">Tags</h4>
        <ul class="tags-list">
{%  for currentTag in tags %}
        <li><a href="/tags/{{ currentTag | slug }}">{{ currentTag }}</a></li>
{%  endfor %}
        </ul>
      </div>
    </aside>
  </div>
  <div class="w-full px-4 text-center mt-0 mb-0 pb-1 text-white flex justify-start leading-none" style="background-color: #08525f">
    <div class="flex-1 m-0 p-0 text-left flex flex-col justify-center items-start">
{%  if previousReview %}
      <a class="text-white hover:text-gray-100 focus:text-gray-100 active:text-gray-100 leading-none inline" href="{{ previousReview.url }}">↼ {{ previousReview.data.title }}</a>
{%  endif %}
    </div>
    <div class="flex-1 m-0 p-0 text-center flex flex-col justify-center items-center">
{%  set relatedGames = collections.reviews | similarGames(page.inputPath, tags) %}
{%  if relatedGames and relatedGames.length %}
{%    if relatedGames.length > 2 %}
{%      set relatedGames = relatedGames | slice(2)%}
      <h4>Related games</h4>
{%    else %}
      <h4>Related game</h4>
{%    endif %}
{%    for currentGame in relatedGames %}
      <a class="mr-4 inline-block text-xl tracking-tight text-white hover:text-gray-100 focus:text-gray-100 active:text-gray-100" href="{{ currentGame.url }}">{{ currentGame.data.gameName }}</a>
{%    endfor %}
{%  endif %}
    </div>
    <div class="flex-1 m-0 p-0 text-right flex flex-col justify-center items-start">
{%  if nextReview %}
      <a class="text-white hover:text-gray-100 focus:text-gray-100 active:text-gray-100" href="{{ nextReview.url }}">{{ nextReview.data.title }} ⇀</a>
{%  endif %}
    </div>
  </div>
</main>