<div class="billboard text-center pb-4 lg:pb-6 2xl:pb-8">
{% if heroImage and heroAltText %}
  <div class="hero-image bg-black">
    {% image heroImage, heroAltText %}
  </div>
{% endif %}
  <div>
    <h1 class="text-3xl lg:text-6xl 2xl:text-8xl">{{ gameName }}</h1>
    <p class="mb-0 mt-4 lg:mt-6 2xl:mt-8">
      Created on <strong>{{ creationDate | htmlDateString }}</strong>
{% if wasUpdated %}
      and last updated on <strong>{{ page.date | htmlDateString }}</strong>
{% endif %}
    </p>
{% if lastPlayed %}
    <p class="mb-0 mt-1 lg:mt-2 2xl:mt-4">Last played in <strong>{{ lastPlayed | displayMonthYear }}</strong></p>
{% endif %}
  </div>
</div>