    <footer class="p-4">
      <div class="flex items-center">
        <p class="flex-1 text-s text-left"><em>&copy; copyright {% copyrightYear 2021 %} Raggart</em></p>
        <p class="flex-1 text-s text-center leading-tight">
          Want me to review your game?<br>
          Want to discuss sponsorship or publicity?<br>
          <span id="email_placeholder"></span>
        </p>
        <p class="flex-1 text-s text-right">Technoh built this <a href="http://technoh.ca">super-fast, cool-looking website</a>.</p>
      </div>
    </footer>