<div class="conteneur-principal text-base mb-6">
{%  if currentReview.data and currentReview.data.bannerImage and currentReview.data.bannerAltText %}
  {% image currentReview.data.bannerImage, currentReview.data.bannerAltText, "mt-8 mb-4" %}
{%  else %}
  <div class="b-1 border-red-500 block" style="width: 750px; height: 150px;">
{%  endif %}
  <h2 class="text-4xl mb-4 text-center"><a class="" href="{{ currentReview.inputPath | getPermalink }}">{{ currentReview.data.gameName }}</a></h2>
  <p class="text-sm dateInfo mt-4 text-center">
    <time class="inline" datetime="{{ currentReview.creationDate | htmlDateString }}">
      <strong>{{ currentReview.data.creationDate | htmlDateString }}</strong>
{%-    if currentReview.data.modificationDate != currentReview.data.creationDate -%}
        , updated <strong>{{ currentReview.data.modificationDate | htmlDateString }}</strong>
{%    endif %}
    </time>
  </p>

  <p>{{ currentReview.data.description }}</p>
  <p>My verdict: <strong>{{ currentReview.data.verdict }}</strong></p>
  <p class="text-right">
{%  set reviewLinkText %}Read the complete {{ currentReview.data.gameName }} review  ⇀{% endset %}
    <a class="text-lg" href="{{ currentReview.inputPath | getPermalink }}">{{ reviewLinkText }}</a>
  </p>
</div>