---
layout: page
title: "About Raggart's Reviews"
description: "What Raggart's Reviews is all about: "
author: Raggart
date: 2021-08-30T12:55:00-04:00
featured_image: question-mark-over-mac-keyboard-49958_1280x905.jpg
featured_image_alt: Stylistic image of question mark superimposed over computer keyboard
featured_image_caption: "Image: Dalamo; Pixabay"
---

<div class="conteneur-principal">
  <h1 class="tracking-tight pt-8 lg:pt-10 2xl:pt-12 text-5xl mb-6">{{ title }}</h1>
  <h4>What is Raggart's Reviews?</h4>
  <p>This website is a collection of all my (Raggart) videogame reviews. These same reviews are usually also posted on the platform I used to review a particular game (Steam, Epic, Xbox, etc.)</p>
  <h4>Is this free?</h4>
  <p>Yes, absolutely, this site is free. Note that all the information found therein that is not directly taken from a game is &copy; Copyright Raggart but still accessible for free.</p>
  <h4>Why should I use this website?</h4>
  <p>If you're looking for a medium / long form review of particular videogame.</p>
  <h4>Can you review my / our game?</h4>
  <p>I can certainly try! While it is impossible to write a long form review for all the games I receive, I can at the very least provide constructive feedback or a short (1-2 paragraphs) review. To get in touch with me, see the link at the bottom (in the footer) or hit me up on Twitter.</p>
</div>