---
  layout: "base"
  title: "Raggart's Reviews - Mostly longform videogame reviews"
  description: "All of my free, mostly longform videogame reviews."
  author: "Raggart"
  date: "Last Modified"
  beforeTitle: "Latest review: "
---

{%  set currentReview = collections.reviews | first %}
{%  set reviewContent = currentReview.templateContent %}
{%  set currentPath = currentReview.inputPath %}
{%  set currentReview = currentReview.data %}
{%  include "layouts/partials/review.njk" %}