---js
{
  layout: "page",
  pagination: {
    data: "collections",
    size: 1,
    alias: "tag",
  },
  eleventyComputed: {
    title: "{{ tag }} games",
  },
  permalink: "/tags/{{ tag | slug }}/",
}
---

<div class="conteneur-principal font-sans">
  <h1 class="text-3xl lg:text-5xl 2xl:text-6xl pt-6 text-center">{{ title }}</h1>
  <div>
{%  set taglist = collections[ tag ] %}
{%  for currentReview in taglist %}
{%    include "layouts/partials/summary.njk" %}
{%  endfor %}
  </div>
</div>